<h2>User info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<table>
  <thead>
    <tr>
      <th>user name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </thead>
</table>



<div class ="new_book_create">
  <h1>new book</h1>
  <%= form_with model: Book.new do |f| %>
    <h2>title</h2>
    <%= f.text_area :title %>
    <h2>説明</h2>
    <%= f.text_field :body %>
    <p><%= f.submit 'Create Book' %></p>
  <% end %>
</div>